.main-gallery{
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,450px));
    column-gap: 10px;
    row-gap: 10px;
}

.img-grid{
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: center;

}
