.galerija{
    display: flex;
    justify-content: center;
}

.main-gallery{
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 90vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 35px;
    row-gap: 25px;
}

.img-grid{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}