.galerija{
    display: flex;
    justify-content: center;
}

.main-gallery{
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 90vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,500px));
    column-gap: 25px;
    row-gap: 25px;
}

.img-grid{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.img-grid:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
